@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.dropdown-menu {
	width: 160px !important;
	height: 210px !important;
}

.report {
	border-style: none;
	background-color: #fff;
	color: #868686;
}

.report:hover {
	color: red;
}

.btn-outline-primary {
    border-color: #33FF33;
    --bs-btn-active-color: #202020;
    --bs-btn-active-bg: #33FF33;
    --bs-btn-active-border-color: #33FF33;
    --bs-btn-hover-border-color:  #33FF33;
    --bs-btn-color: #33FF33;
    --bs-btn-border-color: #33FF33;
    font-weight: bold;
    color: #fff;
}