@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

ul,li,ol{
    list-style: none;
}

body{
    background-color: #202020;
    color: #fff;   
}

.wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

/* header */

header{
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.logo{
    width: 230px;
    height : 95px;   
    margin-top: 30px;
}

.logo > a > img{
    margin-top: 2.5px;
    width: 200px;
}

.gnb > ul{
    display: flex;
}

.gnb > ul > li{
    width: 70px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    margin-right:5px;
}

.gnb a{
    font-size: 22px;
    font-weight: 600;
}

.gnb > ul > li:hover{
    color: #33ff33;
}

.h-icon{
    width: 120px;
    height: 58px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.h-icon > ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

.sec01 {
    width: 1200px;
    height: auto;
    margin: 0 auto 0 auto;
}

.info-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
   
}

.info-main > div {
    width: 500px;
    height: 60px;
    background-color: #3F3B3B;
    text-align: center;
    line-height: 50px;
    margin: 20px;
}

.ct-review {
    color: #33ff33;
}

.sec02 {
    width: 1200px;
    height: 800px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;    
}

.mimg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.main {
    width: 950px;
    height: 100%;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
}

.blank {
    height: 34px;
    margin-bottom: 1px;
}

.post {
    width: auto;
    height: 230px;
    margin: 20px 0;
    background-color: #3F3B3B;
    display: flex;
    flex-direction: row;
}

.Lside {
    width: 160px;
    height: auto;
    margin: 0 5px;
    position: relative;
}

.poster {
    width: 160px;
    height: 220px;
    position: relative;
    top: 2%;
}

.Rside {
    width: 100%;
    height: auto;
    position: relative;
}

.rv-head {
    height: 50px;
    width: 100%;
    display: flex;
}

.rv-main {
    height: 160px;
    width: 770px;
    position: relative;
    margin-left: 5px;
    font-size: 20px;
}

.title {
    margin-left: 5px;
    font-size: 25px;
}

.mreview {
    color: #33ff33;
}

.starating {
	right: 10px;
	position: absolute;
}

.title-line{
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 1.5px solid #fff;
    margin: 0 auto;
}
.page-link {
    color: #ffffff; 
    background-color: #202020;
    border-color: #ffffff;
    cursor: pointer;
  }
    
.page-link:focus, .page-link:hover {
    color: #33ff33;
    background-color: #202020; 
    border-color: #33ff33;
}

.star {
	width: 20px;
	height: 20px;
	margin-right: 3px;
}

.point {
	position: relative;
    top: 4px;
}

.Lmenu ul li:nth-child(2) a {
	color: #33ff33;
}

.mnb ul li:nth-child(1) a {
		color: #33ff33;
}

.mnb2 ul li:nth-child(1) a {
		color: #33ff33;
}